.return {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 60px auto;
  width: 400px;
  height: 50px;
  top: 800px;
  left: 700px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 60px auto;
  width: 400px;
  height: 50px;
  top: 400px;
}